@charset "utf-8";
/* NanumGothic Webfont */
@font-face{
  font-family: 'NanumGothicWEB';
  font-style: normal;
  font-weight: normal;
  src: url(http://www.orionworld.com/webfont/NanumGothic.eott'); 
  src: local('☺'), url(http://www.orionworld.com/webfont/NanumGothic.ttff') format('truetype'); }

@font-face{
  font-family: 'NanumGothicBoldWEB';
  font-style: normal;
  font-weight: bold;
  src: url(http://www.orionworld.com/webfont/NanumGothicBold.eott'); 	
  src: local('☺'), url(http://www.orionworld.com/webfont/NanumGothicBold.ttff') format('truetype'); }
